{% extends 'basenuevo.html.twig' %}

{% block title %}

      {{ parent() }}

{% endblock %}

{% block stylesheets %} {{ parent() }}  {% endblock %}


{% block body %}
        {{ parent() }}
        <div class="row">          
            <div class="col-md-4">
                <h1>Club
                    <p>
                        <code>122<small>Quito-Ecuador</small></code>
                    </p>
                </h1>    
            </div>       
        </div>
         <div class="row">
           
            <div class="col-md-12 ">
                
                <br/>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">CLUB-122</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#home">HOME <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Informacion</a></li>
                                <li><a href="#meta1">Preferencias</a></li>
                                <li><a href="#servicios">Fotos</a></li>
                                <li><a href="#">Galeria</a></li>
                                <li><a href="#">Nuestro Equipo</a></li>
                                
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
        <div class="row panel panel-primary">
            <div class="panel-heading">
                DATOS DE USUARIO
            </div>
            <div class="panel-body">
                
              <form class="bg-info" method="POST" action="{{path('wbj_user_actualizar')}}" enctype="multipart/form-data">
                <div class="col-md-6 ">
                    
                        <div class="form-group">
                            
                            <input class="form-control" value="{{user.nombres}}" name="nombresa" id="nombresa" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="{{user.apellidos}}" name="apellidosa" id="apellidosa" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="{{user.nickname}}" name="nicknamea" id="nicknamea" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="{{user.pass}}"  name="passa" id="passa" />
                        </div> 
                        <div class="form-group">
                            <input class="form-control" value="{{user.nacionalidad}}" name="nacionalidada" id="nacionalidada" />
                        </div> 
                        <div class="form-group">
                            <input class="form-control" value="{{user.provincia}}" name="provinciaa" id="provinciaa"/>
                        </div> 
                        <div class="form-group">
                            <input class="form-control" value="{{user.ciudad}}" name="ciudada" id="ciudada" />
                        </div> 
                        <div class="form-group">
                            <input class="form-control" value="{{user.introduc}}" name="introduca" id="introduca" />
                        </div>
                        
                    
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-top:1cm;">
                        <div class="col-md-4">
                             <label class="btn btn-success btn-block">
                               FOTO PERFIL <input type="file" style="display: none;"  id="file-perfil" name="file-perfil" >
                              </label>    
                        </div>
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/fotos/' ~ user.img) }}" class="center-block img-responsive" id="img-user-perfil" />
                        </div>
                        <div class="col-md-4">
                            <label class="btn btn-success btn-block">
                               FOTO SENSUAL <input type="file" style="display: none;" id="file-perfil1" name="file-perfil1">
                           </label>
                           <label class="btn btn-success btn-block">
                               FOTO SEXY <input type="file" style="display: none;" id="file-perfil2" name="file-perfil2">
                           </label>  
                           <label class="btn btn-success btn-block">
                               FOTO LIBRE <input type="file" style="display: none;" id="file-perfil3" name="file-perfil3">
                           </label>  
                        </div>
                    </div>
                    <div class="row" style="margin-top:1cm;">
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/fotos/' ~ user.img2) }}" class="center-block img-responsive" id="img-user-perfil1" />
                        </div>
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/fotos/' ~ user.img3) }}" class="center-block img-responsive" id="img-user-perfil2"  />
                        </div>
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/fotos/' ~ user.img4) }}" class="center-block img-responsive" id="img-user-perfil3" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block">ACTUALIZAR</button>
                  </div>
              </form>  
            </div>    
        </div>
        <div class="row panel panel-danger panel-body">
            <div class="col-md-12 panel panel-danger panel-body">
               
                otras opcionees
            </div>
            
        </div>



{% endblock %}




 {% block scripts %} {{ parent() }} {% endblock %}

